{% extends "bootstrap/base.html" %}

{% block title %}Flasky{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base.css') }}">
{% endblock %}

{% block navbar %}
<div class="navbar navbar-default" role="navigation">
    <div class="container">
        <!-- <div class="navbar-header navbar-right">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Flasky</a>
        </div> -->
        <div class="navbar-collapse collapse navbar-right">
            <ul class="nav navbar-nav">
                <li><a href="/"><span class="glyphicon glyphicon-grain" aria-hidden="true"></span>&nbsp&nbsp旧版网站</a></li>
            </ul>
        </div>
        <div class="navbar-collapse collapse navbar-right">
            <ul class="nav navbar-nav">
                <li><a href="/"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp&nbsp关于我们</a></li>
            </ul>
        </div>
        <div class="navbar-collapse collapse navbar-right">
            <ul class="nav navbar-nav">
                <li><a href="/"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp&nbsp登陆</a></li>
            </ul>
        </div>
        <div class="navbar-collapse collapse navbar-right">
            <ul class="nav navbar-nav">
                <li><a href="/"><span class="glyphicon glyphicon-registration-mark" aria-hidden="true"></span>&nbsp&nbsp注册</a></li>
            </ul>
        </div>
        <div class="navbar-collapse collapse navbar-right">
            <ul class="nav navbar-nav">
                <li><a href="/"><span class="glyphicon glyphicon-send" aria-hidden="true"></span>&nbsp&nbsp生活频道</a></li>
            </ul>
        </div>
        <div class="navbar-collapse collapse navbar-right dropdown">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-phone" aria-hidden="true"></span>&nbsp&nbspiT科技<span class="caret"></span></a>
                    <ul class="dropdown-menu navbar-right">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="navbar-collapse collapse navbar-right">
            <ul class="nav navbar-nav">
                <li><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp&nbsp首页</a></li>
            </ul>
        </div>
        <div class="navbar-collapse collapse  navbar-right">
            <ul class="nav navbar-nav logo">
                <li><a href="/"><span class="glyphicon glyphicon-leaf" aria-hidden="true"><img src="../static/img/logo.jpg"/></span></a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% block page_content %}{% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}
